.blog {
  padding-bottom: 100px;
  padding-top: 103px;
  
  .title {
    text-align: center;
  }
}

.blog__list {
  margin-top: 53px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: flex-start
}

.blog__item {
  width: 32%;
  
  .title {
    font-size: 20px;
    line-height: 26px;
  }
  
  p {
    margin: 0;
  }
}

.blog__img {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
  img {
    display: block;
  }
}
