.btn {
  width: 270px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: @normal;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 35px;
  background-color: @yellow;
  transition: ease-out 0.3s;
  
  &:hover,
  &:active {
    color: #fff;
    background-color: @green;
    transition: ease-out 0.3s;
  }
}

.btn-top {
  position: fixed;
  z-index: 10;
  right: 15px;
  bottom: 130px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: @yellow;
  background-image: url(../img/icon-arrow-dark.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
  transform: rotate(90deg);
  transition: ease-out 0.3s;
  
  &:hover,
  &:active {
    background-color: @green;
    background-image: url(../img/icon-arrow-white.svg);
    transition: ease-out 0.3s;
  }
}
